<!DOCTYPE html>

<html>
    <head>
        <title>Clima</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class= "main-content">
            {{>header}}
            <p>Clima pase y vea</p>
            <form>
                <input placeholder="Ciudad">
                <button>Buscar</button>
            </form>
            <p id="mensaje1"></p>
            <table>
                <tr>
                    <td><img id="weatherImg"></td>
                    <td><p id="mensaje2"></p></td>
                </tr>
            </table>
            <p id="mensaje3"></p>
        </div>
        {{>footer}}
        <script src="js/app.js"></script>
    </body>
</html>